<div class="modal fade" id="bird-modal">
  	<div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">x</button>
	        	
	        	<button class="modal-title btn btn-info" data-dismiss="modal">
		        	<span class="glyphicon glyphicon-chevron-left"></span> {{ 'core.bird.close'|trans }}
		        </button>
	        </div>
	      	
	      	<div class="row modal-body" id="bird-modal-body">
	      		<!-- filled with AJAX -->
	      	</div>

		    <div class="loader">
		        <div class="line"></div>
		        <div class="line"></div>
		        <div class="line"></div>
		        <div class="line"></div>
		    </div>
	    </div>
  	</div>
</div>
