<div class="modal fade" id="profile_infos-edit-modal">
  	<div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">x</button>
	        	
	        	<h4 class="modal-title">{{ 'core.profile.infos.modal.title'|trans }}</h4>
	        </div>
	      	
	      	<div class="modal-body" id="profile_infos-edit-modal-body">
	      		<!-- filled with AJAX -->
	      	</div>

	      	<div class="modal-footer">
		        <button type="submit" form="" class="btn btn-info" title="{{ 'core.profile.infos.modal.footer.confirm'|trans }}" id="profile_infos-edit-confirm">
		        	{{ 'core.profile.infos.modal.footer.confirm'|trans }}
		        </button>
		        <button class="btn btn-default" data-dismiss="modal">
		        	{{ 'core.profile.infos.modal.footer.cancel'|trans }}
		        </button>
		     </div>
	    </div>
  	</div>
</div>
