<div class="col-xs-12 nao_title">
	<div class="col-xs-10 col-sm-6">
		<h1>{{ 'core.profile.title'|trans|upper }}</h1>
	</div>

	<div class="hidden-xs col-sm-2 nao_title-icon">
		{% image 'http://fhuszti.com.s3.amazonaws.com/nao/second-menu/profile.png' %}
			<img src="{{ asset_url }}" alt="{{ 'core.second-menu.profile'|trans }}" />
		{% endimage %}
	</div>
</div>

<div class="col-xs-12" id="profile_content">
    {% include '@FOSUser/Profile/blocks/infos/infos.html.twig' %}

    {% include '@FOSUser/Profile/blocks/observations/observations.html.twig' %}

    {% include '@FOSUser/Profile/blocks/gallery/gallery.html.twig' %}
</div>
