<div class="col-xs-12 profile-block-header hidden">
	{{ 'core.profile.observations.header'|trans|upper }}
</div>
 <div class="col-xs-12 profile-block-content hidden" id="profile_observations-content">
 	<div class="row">    
	  	{% include '@FOSUser/Profile/blocks/observations/observations.tabs.html.twig' %}

	  	<div class="tab-content">
	      	{% include '@FOSUser/Profile/blocks/observations/observations.tab-valid.html.twig' %}

	      	{% include '@FOSUser/Profile/blocks/observations/observations.tab-waiting.html.twig' %}

	      	{% include '@FOSUser/Profile/blocks/observations/observations.tab-refused.html.twig' %}

			{% include "@FOSUser/Profile/modals/observation-modal.html.twig" %}
	  	</div>
	</div>
</div>
