<div class="col-xs-12 observation-row">
	{{ 'core.profile.block2.content.empty.observation.sentence'|trans }} <a href="{{ path('core_home') }}" title="{{ 'core.profile.block2.content.empty.observation.link.title'|trans }}">{{ 'core.profile.block2.content.empty.observation.link.value'|trans }}</a>
</div>
