<div class="col-xs-12">
	{{ 'core.profile.observations.empty.sentence'|trans }} <a href="{{ path('core_observation') }}" title="{{ 'core.profile.observations.empty.link.title'|trans }}">{{ 'core.profile.observations.empty.link.value'|trans }}</a>
</div>
