<div class="tab-pane" id="refused">
	{% for observation in user.observations|reverse if observation.status == false and observation.status is not null %}
        {{ macroObservationDisplay.observation_display(observation) }}
    {% else %}
        {% include '@FOSUser/Profile/blocks/observations/observations.empty.html.twig' %}
    {% endfor %}
</div>
