<div class="modal fade" id="admin_obs-modal">
  	<div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">x</button>
	        	
	        	<h4 class="modal-title">
		        	<div class="btn-group" id="admin_obs-modal-state"> 
					</div>
		        </h4>
	        </div>
	      	
	      	<div class="modal-body" id="admin_obs-modal-body">
	      		<!-- filled with AJAX -->
	      	</div>

		    <div class="loader">
		        <div class="line"></div>
		        <div class="line"></div>
		        <div class="line"></div>
		        <div class="line"></div>
		    </div>

	      	<div class="modal-footer">
		        <button class="btn btn-default" data-dismiss="modal">
		        	{{ 'core.admin.close'|trans }}
		        </button>
		     </div>
	    </div>
  	</div>
</div>
