{% macro observation_modal() %}
	<div class="modal fade" id="profile_obs-modal">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-body profile_obs-modal-body">
		      		<button type="button" class="close" data-dismiss="modal">x</button>

		      		<div class="row">
			      		<div class="col-xs-12 col-sm-5 profile_obs-modal-left-panel">
			      		</div>

			      		<div class="col-xs-12 col-sm-6 profile_obs-modal-right-panel" id="gmaps_canvas">
			      		</div>
		      		</div>

		      		<div class="row">
			      		<div class="col-xs-12 profile_obs-modal-comment-panel">
			      		</div>
		      		</div>
		      	</div>

		      	<div class="modal-footer">
			        <button class="btn btn-info" data-dismiss="modal">Fermer</button>
			     </div>
		    </div>
	  	</div>
	</div>
{% endmacro %}

