{% macro infos_modal(modal_id, modal_title, modal_body_id) %}
	<div class="modal fade" id="{{ modal_id }}">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal">x</button>
		        	<h4 class="modal-title">{{ modal_title|trans }}</h4>
		        </div>
		      	
		      	<div class="modal-body" id="{{ modal_body_id }}">
		      		<!-- filled with AJAX -->
		      	</div>

		    </div>
	  	</div>
	</div>
{% endmacro %}
