@font-face {
  font-family: 'OpenSans Regular';
  src: url('../fonts/opensans_regular/OpenSans-Regular-webfont.eot');
  src: url('../fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'),
       url('../fonts/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans Light';
    src: url('../fonts/opensans_light/OpenSans-Light-webfont.eot');
    src: url('../fonts/opensans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_light/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/opensans_light/OpenSans-Light-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Lane Narrow Regular';
    src: url('../fonts/lane-narrow_regular/Lane-Narrow-Regular-webfont.eot');
    src: url('../fonts/lane-narrow_regular/Lane-Narrow-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lane-narrow_regular/Lane-Narrow-Regular-webfont.woff') format('woff'),
         url('../fonts/lane-narrow_regular/Lane-Narrow-Regular-webfont.ttf') format('truetype');
}







body {
    font-family: 'OpenSans Regular', Arial, Helvetica, Verdana, Times, "Times New Roman", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'OpenSans Light', 'OpenSans Regular', Arial, Helvetica, Verdana, Times, "Times New Roman", sans-serif;
}
.modal {
    font-family: 'Lane Narrow Regular', 'OpenSans Regular', Arial, Helvetica, Verdana, Times, "Times New Roman", sans-serif;
}

a {
    color: #888;
}

#wrapper {
    margin-top: 48px;
    margin-bottom: 48px;
}

.nao_title {
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px outset #eee;
}
.nao_title>div:first-child {
    padding-left: 0;
}
.nao_title h1 {
    border-bottom: 3px solid black;
    margin: 0;
    padding-bottom: 5px;
}
.nao_title-icon img {
    max-width: 51px;
    max-height: 51px;
}

.btn-standard {
    padding: 10px 30px 10px 30px;
    background-color: #318CE7;
    font-size: 20pt;
    font-family: 'OpenSans Regular';
}

.btn-loading {
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



@media (max-width: 767px) {
    #wrapper {
        margin-bottom: 30px;
    }

    .nao_title {
        display: none;
    }

    #wrapper, #content {
        margin: 0px;
        padding: 0px;
    }
}
