<!DOCTYPE html>
<html>
<head>
<title>Prise de contact</title>
</head>
<body>
<p>

De : {{ contact.name }} <{{ contact.email }}><br/>
Sujet : {{ contact.subject }}<br/>
<br/>
Corps du message :<br/>
{{ contact.message }}<br/>
<br/>
-- <br/>
Cet e-mail a été envoyé via le formulaire de contact de La Platforme
</p>

</body>
</html>