<div class="row">    
  	{% include '@FOSUser/Profile/blocks/observations/observations.tabs.html.twig' %}

  	<div class="tab-content">
      	{% include 'admin/blocks/observations/observations.tab-valid.html.twig' %}

      	{% include 'admin/blocks/observations/observations.tab-waiting.html.twig' %}

      	{% include 'admin/blocks/observations/observations.tab-refused.html.twig' %}

		{% include "admin/modals/observation-modal.html.twig" %}
  	</div>
</div>
