<div class="tab-pane active" id="valid">
	{% for observation in observations|reverse if observation.status %}
	    {{ macroObservationDisplay.observation_display(observation, 'valid') }}
	{% else %}
		{% include 'admin/blocks/observations/observations.empty.html.twig' %}
	{% endfor %}
</div>
