{% import "admin/macros/_macroObservationDisplay.html.twig" as macroObservationDisplay %}

<div class="tab-pane" id="waiting">
	{% for observation in observations|reverse if observation.status is null %}
        {{ macroObservationDisplay.observation_display(observation, 'waiting') }}
    {% else %}
        {% include 'admin/blocks/observations/observations.empty.html.twig' %}
    {% endfor %}
</div>
