#header {
	background-color: #FEFAEE;
	border-bottom: 1px solid #ccc;
}

#header_images {
	width: 100%;
	max-height: 200px;
}
#header_images div, #header_images button {
	z-index: 10;
}
#header_images img {
	max-width: 100%;
}
#header_images #header_middle-text {
	margin-top: 50px;
}
#header_images #header_birds-text {
	margin-top: 10px;
}
#header_images .navbar-toggle {
	background-color: #FEFAEE;
	border: 1px solid #ccc;
}
#header_images button span {
	border: 1px solid #ccc;
}

#header .navbar {
	background-color: inherit;
	border: none;
	margin-bottom: 0;
}
#header .navbar ul {
	margin-top: 20px;
	margin-right: 5px;
}
#header .navbar ul li.active {
	border-bottom: 5px solid rgb(177, 224, 241);
	background-color: inherit;
}
#header .navbar ul a {
	font-size: 1.1em;
}






@media all and (max-width: 767px) {
	#header {
		min-height: 200px;
	}

	#header_images {
		border-bottom: 1px solid #ccc;
	}
	#header_images .navbar-toggle {
		margin-top: 100px;
	}
	#header_images #logo img {
		height: 150px;
		width: auto;
		margin-left: 50px;
	}

	#header .navbar {
		text-align: right;
	}
	#header .navbar .nav {
		margin-top: 0;
	}
}
@media all and (max-width: 479px) {
	#header_images #logo img {
		margin-left: 30px;
	}
}
