body {
	background-image: url("http://fhuszti.com.s3.amazonaws.com/nao/search/search-bg.jpg");
  	background-size: cover;
  	background-position: center center;
  	background-repeat: no-repeat;
}

#search_content {
	margin-top: 45px;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255, 0.8);
	border: 1px outset #eee;
	font-size: 1.2em;
	padding: 0 0 45px;
	min-height: 400px;
}

#search_content input {
	height: 60px;
	border-radius: 0;
}

#search_results {
	padding: 20px 15px;
}
#search_results>div {
	font-size: 1.2em;
	cursor: pointer;
	padding: 20px 15px 0;
}
#search_results>div:hover, #search_results>div:focus, #search_results>div:active {
	background-color: #ddd;
}
#search_results>div>hr {
	border-color: #ddd;
	margin-bottom: 0;
}

#empty_results {
	margin-top: 150px;
	font-size: 1.5em;
	height: 100%;
}
