<address>
	{{ 'core.contact.address'|trans|nl2br }}
</address>

<div class="row">
	<div class="col-sm-4">
		{% image 'http://fhuszti.com.s3.amazonaws.com/nao/blue-loc-icon.png' %}
			<img class="hidden-xs" src="{{ asset_url }}" alt="" />
		{% endimage %}
    </div>
    <div class="col-sm-4">
    	<p>01.78.35.90.56</p>
    </div>
    <div class="col-sm-4">
    	<p>contact@nosamislesoiseaux.fr</p>
    </div>
</div>

<div class="row">
	{% image 'http://fhuszti.com.s3.amazonaws.com/nao/separator-line.png' %}
		<img class="hidden-xs" src="{{ asset_url }}" alt="" />
	{% endimage %}
</div>
